html,body,header{
    margin:0;
    padding:0;
    font-family: 'Segpe uI', Tahoma, Geneva, Verdana, sans-serif;
}
#navigation-container{
    margin:0;
    Padding:0;
    width:100vw;
    height:5vw;
    background-color:white;
    position:absolute;
    display:flex;
    align-items:center;
    justify-content: space-around;
    box-shadow:3px 5px 5px rgb(0, 0, 0, 0.4);
}
h3{
    padding:lem;
    color:black;
    letter-spacing:3px;
    font-size:30px; 
    text-align:left;
}
ul, li{
    list-style:none;
    display:flex;
    padding:lem;
    margin:0;
}
li{
    cursor:pointer;
    transition:all .5s ease-in-out;
    margin:0.5em;
    padding: 10px 15px;
    border-radius:20px;
    font-size:20px;
    color:black;
}
li:hover{
    background-color:#A60000;
    box-shadow:3px 5px 5px;
}
h1{
    font-size: 60px;
    margin-left: 250px;
    color: #A60000;
}
p{
    margin-left: 250px;
}
object{
    margin-left: 250px;
}